# History files
.Rhistory
.Rapp.history

# Shiny Apps Manifest
*.dcf 

# Session Data files
.RData


# RStudio files
.Rproj.user/
*.Rproj

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

#Dropbox token
report_stats/token.rds

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/


#Report data files
www/report/imgs/*
www/report/tmp/*
www/report/static_reports/*
www/report/interactive_reports/*



